html {
  background-image: url("../images/site/small_check.jpg");
  background-size: 100%;
  overflow-x: hidden;
  min-width: 750px;
}

.siteName{
  font-size: 40px;
  font-weight: bold;
}

.siteName > a {
  text-decoration: none;
  color: black;
}

*::before,
*::after {
  box-sizing: border-box;
}

.block {
  margin-top: 10px;
  display: block;
}

.text-center {
  text-align: center;
}

.header-right {
  float: right;
}

.my-Account {
  color: #3a3a3a;
}


a:link a:visited {
  text-decoration: none;
}


#front-list {
  color: #3a3a3a;
  list-style-type: none;
}

.title {
  font-weight: bolder;
  font-size: 24px;
  list-style-type: none;
}

.button,
button {
  text-decoration: none;
  background-color: #4c96d7;
  color: black;
  padding: 10px 15px;
  margin: 0px;
}

figure {
  text-align: center;
  padding: 4px;
  display: block;
  background-color: #4c96d7;
  color: white;
}

figcaption>a {
  color: black;
}

#upgrades {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
  grid-gap: 5px;
}

#upgrades>figure {
  justify-content: center;
  margin: 0px
}

#upgrade-header {
  grid-column-start: 1;
  grid-column-end: 3;
}

#inv-display>li {
  flex-grow: 1;
}


.descGrid > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#image-display{
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-evenly;
  grid-auto-rows: auto;
  row-gap: 10px;
  list-style-type: none;
  padding: 0px;
}

#image-display > li {
  text-align: center;
  border-style: solid;
}

#image-display > li > img {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

#searchIcon{
  display: block;
  text-align: end;
  color: #3a3a3a;
}

#SILink{
  text-decoration: none;
}
#STLink :visited{
  color: #3a3a3a;
}

#searchIcon{
  width: 25px;
  height: auto;
  float: right;
}

#PageNumbers{
  text-align: center;
}

@media only screen and (max-width:625px) {

  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    font-family: 'Andale Mono', 'monospace';
    background-color: white;
  }

  main{
    padding: 10px;
  }

  footer {
    border-top: 5px solid #3a3a3a;
    text-align: center;
  }

  #grid-container {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto auto auto auto;
    overflow-x: hidden;
  }

  #delorian-image {
    width: 100%;
    height: auto;
  }

  #own-today {
    grid-row-start: 3;
    grid-row-end: 3;
    text-align: center;
  }

  nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
    margin-top: 2%;
    justify-content: space-between;
    background-color: #000000ae;  
  }

  nav ul li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    color: #fff;
    cursor: pointer; 
  }

}

#reivews>li:not(:last-child) {
  margin-bottom: 25px;
}

.message {
  font-weight: bolder;
  text-decoration: underline;
}

@media only screen and (max-width: 1200px) and (min-width: 626px) {
  body {
    font-family: 'Andale Mono', 'monospace';
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    border: 5px solid;
    border-color: #4c96d7;
  }

  main{
    padding: 1rem;
  }

  #grid-container {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
  }


  #delorian-image {
    width: 100%;
    height: auto;
    grid-column: 1 / span 2;
  }

  #own-today {
    margin-left: 16px;
    grid-column: 1 / span 2;
    width: 25%;
    text-align: center;
  }

  #reivews {
    grid-column: 1 / span 2;
  }

  #upgrades {
    grid-column: 1 / span 2;
  }

  #container-detail{
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    }

    #inv-display {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      margin:0 auto;
      gap: 50px;
      margin-top: 10%;
      margin-bottom: 10%;
      margin-right: 10%;
      margin-left: 10%;
      
      }

      #inv-display li{
        list-style: none;
        border: 3px solid #00000056;
        border-radius: 15px ;
        text-align: center;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr;
        min-height: 250px;
        max-height: 500px;
        margin-left: 10%;
        margin-right: 10%;
        color: white;
        background-color: gray;
        font-size: 2rem;
        overflow-x: hidden;
        
        }

}

@media only screen and (max-width: 1799px) and (min-width: 1201px) {

  body {
    font-family: 'Andale Mono', 'monospace';
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    border: 5px solid;
    border-color: #4c96d7;
  }

  main{
    padding: 1rem;
  }

  #grid-container {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto auto auto auto;
    gap: 0em 1em;
  }

  #front-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: span 1;
  }

  #own-today {
    margin-left: 10%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 40%;
    text-align: center;
  }

  #delorian-image {
    width: 100%;
    height: auto;
    grid-column: 1 / span 2;
  }

  #reivews {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
  }

  footer {
    border-top: 5px solid #3a3a3a;
    margin-top: 1em;
    text-align: left;
  }

  #container-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    }
  #inv-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin:0 auto;
    gap: 50px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    
    }

    #inv-display li{
      list-style: none;
      border: 3px solid #00000056;
      border-radius: 15px ;
      text-align: center;
      padding-bottom: 10px;
      display: grid;
      grid-template-columns: 1fr;
      margin-left: 10%;
      margin-right: 10%;
      color: white;
      background-color: gray;
      font-size: 2rem;
      height: 500px;
      width: 400px;
      overflow-x: hidden;
      
      
      }
}

@media only screen and (min-width: 1800px) {
  body {
    font-family: 'Andale Mono', 'monospace';
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    border: 5px solid;
    border-color: #4c96d7;
  }

  main{
    padding: 1rem;
  }

  #grid-container {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto auto auto auto;
    gap: 0em 1em;
  }

  #front-list {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: span 1;
  }

  #own-today {
    margin-left: 10%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 40%;
    text-align: center;
  }

  #delorian-image {
    width: 100%;
    height: auto;
    grid-column: 1 / span 2;
  }

  #reivews {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
  }

  footer {
    border-top: 5px solid #3a3a3a;
    margin-top: 1em;
    text-align: left;
  }

  #container-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    }

    #inv-display {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      text-align: center;
      margin:0 auto;
      gap: 50px;
      margin-top: 10%;
      margin-bottom: 10%;
      margin-left: 10%;
      margin-right: 10%;
      justify-content: center;
      
      }

      #inv-display li{
        list-style: none;
        border: 3px solid #00000056;
        border-radius: 15px ;
        text-align: center;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 10%;
        margin-right: 10%;
        color: white;
        background-color: gray;
        font-size: 2rem;
        height: 500px;
        width: 400px;
        overflow-x: hidden;
        
        
        }

}

nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 10px;
  margin-top: 2%;
  justify-content: space-between;
  background-color: #000000ae;  
}



nav ul li a:hover{
color: #00bbff;
}

nav ul li a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  list-style-type: none;
  color: #fff;
  cursor: pointer; 
  font-size: 2rem;
}


#items div a{
    
  text-align: center;
  
}

#items div img{
margin-left: auto;
margin-right: auto;
width: 100%;
}

footer{
text-align: center;
font-weight: bolder;
font-family: 'Montserrat', sans-serif;
background-color: #000000ae;
color: #fff;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 15px;

}



#inv-display li:hover{
box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#inv-display li h2{
font-family: 'Montserrat', sans-serif;
font-size: 2rem;
}

#inv-display li img{
margin-left: auto;
margin-right: auto;
width: 250px;
max-width: 250px;
border-radius: 13px;
max-height: 130px;
}

#inv-display li a{
max-height: 100px;
color: white;
}


#inv-display li hr {

background-color: #000;
}


#detail-content1{
display: grid;
grid-template-columns: 1fr;
margin: 0 auto;
}

#detail-content1 img{
width: 100%;
margin: 0 auto;
border-radius: 10px;
}

#detail-content2{
display: grid;
grid-template-columns: 1fr;
margin: 0 auto;
text-align: left;
margin: 11px;
margin-top: 5%;
background-color: antiquewhite;
border-radius: 10px;
}

#detail-content2 h2{
margin: 11px;
font-size: 1.2rem;
}

#detail-content2 span {
font-weight: bolder;
font-size: 1rem;
color:#01183c;
}

#detail-content2 #price{
margin-left: 8%;
padding: 3px;
font-size: 1.2rem;
color: rgb(0, 79, 0);
}

#detail-content2 p{
font-size: .9rem;
margin-left: 8%;
padding: 3px;
width: 80%;
}

#error-message{
font-family: 'Montserrat', sans-serif;
font-size: 5rem;
text-align: center;
margin: 0 auto;
margin: 10px;
color: black;
}

#error{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#error img{
width: 60%;

}

footer #errorTest{
color: white;
font-size: 2rem;
}

footer #errorTest:hover{
color: pink;
}

#inv-display li{
  list-style: none;
  border: 3px solid #00000056;
  border-radius: 15px ;
  text-align: center;
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  background-color: gray;
  font-size: 2rem;
  height: 500px;
  width: 400px;
  overflow-x: hidden;
  
  
  }